body{
    background-color: purple;
}

#type-buttons{
   display: flex;
   justify-content: center;
}
div#places{
    display:flex;
    flex-wrap:wrap;
}

.img-wrapper{
    display:flex;
    justify-content: center;
    overflow:hidden;
    width: 100%;
    height:350px;
    border-radius:15px 15px 0 0;
}
div.col-sm-4{
    margin: 20px 0;
}   